.card-space-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 746px){
    .card-space-wrapper{
        justify-content: space-around;
    }
}