.Footer{
    border: 1px solid black;
    background-color: rgb(29, 29, 29);
    color: white;
    height: 10vh;
}

.footer-text{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    width: 70%;
    margin: 0 auto;
}